@import url("main.css");

.content1-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 95px 110px 95px;
}

.content1-1-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 200px;
    margin-top: 30px;
}

.content1-1-1 button {
    margin: 0 10px 0 10px;
    width: 175px;
}