@import url("editRates.css");

.criteria {
    max-width: 100px;
}

.criteria .subHeading {
    font-size: 20px;
    line-height: 30px;
}

.criteria .criteriaText {
    border: none;
    max-width: 150px;
    font-size: 20px;
    line-height: 30px;
}

.percent {
    width: 250px;
}

.percent .subHeading {
    font-size: 20px;
    line-height: 30px;
}