@import url("editRates.css");

.criteria {
    width: 450px;
}

.criteria .subHeading {
    font-size: 20px;
    line-height: 30px;
}

.percent {
    width: 250px;
}

.percent .subHeading {
    font-size: 20px;
    line-height: 30px;
}

.delete {
    border: none;
    min-width: 30px;
}

.delete button {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}