@import url("profile.css");

.cta1 {
    min-height: 483px;
}

.content1-1-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 0;
}

.content1-1-1 .subHeading {
    font-size: 20px;
    line-height: 30px;
    margin-right: 10px;
}

table{
    border-collapse: collapse;
    min-width: 600px;
}
th, td{
    min-width: 100px;
    text-align: left;
    vertical-align: center;
    padding: 10px;
    border: none;
}

tr {
    border: solid 0.1em var(--turquoise1);
}

.print {
    background: none;
    border: none;
    color: var(--turquoise1);
}

.print:hover {
    background: none;
    color: var(--turquoise2);
}

.print:active {
    background: none;
    border: none;
    color: var(--turquoise);
}

.message {
    position: absolute;
    right: 150px;
    z-index: 1;
}