<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            business tax calculator
        </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" th:href="@{/css/editIncomeTaxRates.css}">
    </head>

    <body>
        <div class="background">
            <header>
                <img style="width: 7%; margin-top: 30px;" src="/resource/logo.png" alt="logo">
                <nav>
                    <a th:href="@{/admin}"><button id="signOutFromIncomeToAdminBtn" class="signInBtn">Вернуться назад</button></a>

                    <form name="logout" th:action="@{/logout}" method="post">
                        <button id="signOutClientBtn" class="signInBtn" >Выйти</button>
                    </form>
                </nav>
            </header>
        </div>
        <main>
            <div class="cta1">
                <div class="content1-1">
                    <form class="taxes" th:object="${incomeTaxRateForm}" th:action="@{/admin/incomeTaxRates/update}" th:method="put">
                        <div class="content1-1-1">
                            <p class="secondHeadline">Ставки подоходнего налога</p>
                            <button>Сохранить изменения</button>
                        </div>
                        <table >
                            <tr>
                                <th class="criteria"><p class="subHeading">Критерий</p></th>
                                <th class="percent"><p class="subHeading">Ставки подоходнего налога, %</p></th>
                                <th class="delete"></th>
                            </tr>
                            <tr th:each="tax, iterStat: ${incomeTaxRateForm.incomeTaxRates}">
                                <input type="hidden" th:field="*{incomeTaxRates[__${iterStat.index}__].idIncomeTaxRate}" th:value="${tax.idIncomeTaxRate}" />
                                <td class="criteria"><textarea class="criteriaText" oninput="this.style.height = (this.scrollHeight) + 'px';" th:field="*{incomeTaxRates[__${iterStat.index}__].criteria}" th:value="${tax.criteria}" type="text" readonly></textarea></td>
                                <td class="percent"><input th:field="*{incomeTaxRates[__${iterStat.index}__].percent}" th:value="${tax.percent}" type="text" /></td>
                                <td class="delete">
                                    <button type="button" th:value="${tax.idIncomeTaxRate}" th:data-id="${tax.idIncomeTaxRate}" th:data-index="${iterStat.index}" onclick="deleteTaxUnderSimplifiedSystem(this.getAttribute('data-id'), this.getAttribute('data-index'))"><i class="material-icons">delete</i></button>
                                </td>
                                <!--
                                                                <td class="delete"><button th:action="@{|/admin/taxRatesUnderSimplifiedSystem/delete/{id} (id=${taxRateUnderSimplifiedSystem.idTaxRateUnderSimplifiedSystem})}" th:method="put"><i class="material-icons">delete</i></button></td>
                                -->
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </main>

        <div class="background">
            <footer>
                <img style="width: 7%;" src="/resource/logo.png" alt="logo">
                <div class="copyright"><p class="link">Copyright © 2021 Valery Vodyanchuk</p></div>
            </footer>
        </div>

        <script type="text/javascript" th:src="@{/js/editTaxes.js}"></script>

    </body>
</html>