<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            business tax calculator
        </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="../css/editIncomeTaxRates.css">
    </head>

    <body>
        <div class="background">
            <header>
                <img style="width: 7%; margin-top: 30px;" src="../resource/logo.png" alt="logo">
                <nav>
                    <a href="./admin.html"><button id="signOutFromIncomeToAdminBtn" class="signInBtn">Вернуться назад</button></a>

                    <form name="logout" th:action="@{/logout}" method="post">
                        <button id="signOutClientBtn" class="signInBtn" >Выйти</button>
                    </form>
                </nav>
            </header>
        </div>
        <main>
            <div class="cta1">
                <div class="content1-1">
                    <form>
                        <p class="secondHeadline">Ставки подоходнего налога</p>
                        <table>
                            <tr>
                                <th class="criteria">Критерий</th>
                                <th class="percent">Ставки подоходнего налога, %</th>
                            </tr>
                            <tr>
                                <td class="criteria"><input type="text" placeholder="lol"></td>
                                <td class="percent"><input type="text" placeholder="10"></td>
                            </tr>
                            <tr>
                                <td class="criteria"><input type="text" placeholder="heh"></td>
                                <td class="percent"><input type="text" placeholder="3"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </main>

        <div class="background">
            <footer>
                <img style="width: 7%;" src="../resource/logo.png" alt="logo">
                <div class="copyright"><p class="link">Copyright © 2021 Valery Vodyanchuk</p></div>
            </footer>
        </div>

        <script src="../js/authentication.js"></script>

    </body>
</html>