<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            business tax calculator
        </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" th:href="@{/css/history.css}">
    </head>

    <body>
        <div class="background">
            <header>
                <img style="width: 7%; margin-top: 30px;" src="/resource/logo.png" alt="logo">
                <nav>
                    <div class="menu">
                        <ul id="pagesNavigation" class="pages">
                            <li><a th:href="@{/client}" id="landingLink" class="link" data-link>Главная</a></li>
                            <li><a th:href="@{/client/profile}" id="profileLink" class="link" data-link>Профиль</a></li>
                            <li><a id="taxLink" class="link" data-link>Налоги<i class="material-icons iconNav">arrow_drop_down</i></a>
                                <ul class="submenu">
                                    <li><a th:href="@{/calculation}" id="calculateLink" class="link" data-link>Расчет</a></li>
                                    <li><a th:href="@{/client/history}" id="historyLink" class="link" data-link>История</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <form name="logout" th:action="@{/logout}" method="post">
                        <button id="signOutClientBtn" class="signInBtn" >Выйти</button>
                    </form>
                </nav>
            </header>
        </div>
        <main>
            <div class="cta1">
                <div class="content1-1">
                    <form class="content1-1-1" th:action="@{/client/history/print}" th:method="post">
                        <p class="secondHeadline">История расчетов</p>
                        <button class="print"><i class="material-icons">print</i></button>
                        <p class="subHeading message" th:text="${print}">Расчет</p>
                    </form>
                    <p class="subHeading" th:if="history == null">Нет расчетов!</p>
                    <table th:if="history != null">
                        <tr th:each="taxHistory: ${history}">
                            <td>
                                <p class="subHeading" th:text="${taxHistory.date}"></p>
                            </td>
                            <td class="content1-1-1">
                                <p class="subHeading">Вид налога: </p>
                                <p class="subHeading" th:text="${taxHistory.typeOfTax}"></p>
                            </td>
                            <td class="content1-1-1">
                                <p class="subHeading">Итого: </p>
                                <p class="subHeading" th:text="${taxHistory.tax}"></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>

        <div class="background">
            <footer>
                <img style="width: 7%;" src="/resource/logo.png" alt="logo">
                <div class="copyright"><p class="link">Copyright © 2021 Valery Vodyanchuk</p></div>
            </footer>
        </div>

        <script type="text/javascript" th:src="@{/js/history.js}"></script>

    </body>
</html>